@import "../../../style/sass/variables.scss";

.product {
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
  display: grid;
  grid-template-columns: 3fr 1fr 1.5fr 1fr 1fr 1fr;
  align-items: center;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(190, 188, 189, 1);
  }
}

.productInfo {
  position: relative;
  display: flex;

  img {
    width: 35%;
    object-fit: cover;
    border-radius: 0.75rem;
    margin-right: 2.25rem;
  }
}

.productDesc {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;

  h5 {
    font-family: $textFont;
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    color: $dark;
  }

  p {
    font-family: $textFont;
    font-size: $font-size-small;
    font-weight: $font-weight-medium;
    color: $steelGray;
  }
}

.productPrice,
.productSubtotal {
  font-family: $textFont;
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  color: $dark;
}

.productQuantity {
  font-family: $textFont;
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
  color: $steelGray;
  background-color: $whitegrey;
  width: 60%;
  margin: 0 auto;
  border-radius: 0.75rem;
  padding: 0.75rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    font-size: $font-size-medium;
    font-weight: $font-weight-medium;
    color: $steelGray;

    &:active {
      scale: 1.3;
    }
  }
}

.productShipping{
  font-family: $textFont;
  font-size: $font-size-normal;
  font-weight: $font-weight-bold;
  color: rgba(190, 188, 189, 1);
  text-transform: uppercase;
}

.removeProduct{
  font-size: 1.5rem;
  color: $purple;
}