@import "../../style/sass/variables.scss";

.subHeroSubtitle {
}

.subHeroWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  column-gap: 1.875rem;
  row-gap: 1.875rem;
  width: 85%;
  background-repeat: no-repeat;
  margin-bottom: 6.25rem;
}

.subHeroContent {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 1.875rem;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  justify-content: space-around;
}

.subHeroImg {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0 0 10px grey;
}

.subHeroTitle {
  font-size: $font-size-medium;
  font-weight: $font-weight-extra-bold;
  font-family: $fontMontserrat;
  color: $white;
}

.subHeroDescription {
  font-size: $font-size-heading;
  font-weight: $font-weight-extra-bold;
  font-family: $titlesFont;
  color: $white;
}

.subHeroOffer {
  font-size: $font-size-normal;
  font-weight: $font-weight-medium;
  font-family: $titlesFont;
  color: $white;
}

.subHeroBtn {
  font-size: 1.25rem;
  font-weight: $font-weight-extra-bold;
  font-family: $titlesFont;
  color: $white;
  border-bottom: 1px solid $white;
  width: fit-content;
}
