@import "../../style/sass/variables.scss";

@mixin button($bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
    width: fit-content;
  }


  @mixin sectionTitle($font-size, $font-bold){
    font-size: $font-size;
    font-weight: $font-bold;
    font-family: $titlesFont;
    color: $dark;
    position: relative;
    padding: 0 1.25rem;
  
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0.375rem;
      background: rgba(138, 51, 253, 1);
      border-radius: 0.625rem;
    }
  }