@font-face {
    font-family: CoreSansC__regular;
    src: url('../../style/fonts/CoreSansC-45Regular.woff2');
    font-family: CoreSansC__medium;
    src: url('../../style/fonts/CoreSansC-55Medium.woff2');
    font-family: CoreSansC__bold;
    src: url('../../style/fonts/CoreSansC-65Bold.woff2');
    font-family: CoreSansC__extra-bold;
    src: url('../../style/fonts/CoreSansC-75ExtraBold.woff2');
    font-family: CoreSansC__heavy;
    src: url('../../style/fonts/CoreSansC-85Heavy.woff2');
}