@import './fontsConnecting.scss';

$titlesFont: 'CoreSansC__regular', sans-serif;
$textFont: 'Causten', sans-serif;
$fontMontserrat: 'Montserrat', sans-serif;

$screenWidth:85%;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$font-size-small: 0.875rem;
$font-size-normal: 1rem;
$font-size-medium: 1.125rem;
$font-size-large: 1.375rem;
$font-size-extra-large: 1.75rem;
$font-size-heading: 2.125rem;

$whitegrey: rgba(246, 246, 246, 1);
$white: rgba(255, 255, 255, 1);
$dark: rgba(60, 66, 66, 1);
$brands: rgba(128, 125, 126, 1);



