@import '../../style/sass/mixin';


.priceFilter{
    h4{
      font-family: $textFont;
      font-size: $font-size-large;
      font-weight: $font-weight-bold;
      color: $steelGray;
      margin-bottom: 1.25rem;
      cursor: pointer;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  
.rangeValue{
    width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1.25rem 0;
  
  
    p{
      font-family: $textFont;
      font-size: $font-size-normal;
      font-weight: $font-weight-medium;
      width: 35%;
      padding: 0.5rem 0;
      border: 0.125rem solid $steelGray;
      border-radius: 0.75rem;
      text-align: center;
    }
  
  }

.horizontalSlider{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .thumb{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: rgba(white, 1); 
    border: 0.125rem solid  rgba($purple, 0.7);
  
  }
  
  .track{
    height: 0.25rem;
    border-radius: 0.125rem;
    background-color: rgba($purple, 0.3);
  
    
    &:nth-child(2){
      background-color: $purple;
      height: 0.25rem;
      margin-left: 0.9rem;
    }
  }
  
  
