@import '../../style/sass/mixin';

.horizontalSlider{
    width: 100%;
    height: 10px;
    position: relative;
    background-color: blue;
    z-index: 1000;
}

.thumb{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #3498db; // Желаемый цвет ползунка
    outline: none;
    border: none;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.track{
    height: 10px;
    border-radius: 2px;
    background-color: yellow;
}

.track-1{
    height: 10px;
    background-color: red; // Цвет полоски перед ползунками
    border-radius: 2px;
}
