@import "../sass/variables.scss";

.wrapper {
  display: grid;
  grid-template-areas:
    "path path"
    "login login"
    "sidebar cart"
    "totalPriceInfo totalPriceInfo";
  grid-template-columns: 1fr 4fr;
  width: $screenWidth;
  margin: 0 auto;
  column-gap: 3.125rem;
}

.path {
  grid-area: path;
  margin-bottom: 2.875rem;
}

.login{
  grid-area: login;
  margin-bottom: 2.875rem;

  p{
    font-family: $textFont;
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
    color: $steelGray;
  }

  a{
    color: $purple;
    font-weight: $font-weight-bold;
  }
}

.sidebar {
  grid-area: sidebar;
}

.products {
  grid-area: cart;
}

.totalPriceInfo {
  grid-area: totalPriceInfo;
  display: flex;
  justify-content: space-between;
  background-color: $whitegrey;
  padding: 1.25rem 5rem;
}

.products {
  width: 100%;
  height: fit-content;
}

.title {
  text-align: center;
  margin: 0 auto;
  padding: 1.875rem 0;
  display: grid;
  grid-template-columns: 3fr 1fr 1.5fr 1fr 1fr 1fr;
  background-color: $dark;
  text-transform: uppercase;

  h5 {
    font-family: $textFont;
    font-size: $font-size-normal;
    font-weight: 600;
    color: $white;
  }
}

// .totalPriceInfo{
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
// }
