@import "../sass/variables.scss";
@import "../sass/mixin";

.wrapper {
  display: grid;
  grid-template-areas:
    "path path"
    "login login"
    "sidebar cart"
    "totalPriceInfo totalPriceInfo";
  grid-template-columns: 1fr 4fr;
  width: $screenWidth;
  margin: 0 auto;
  column-gap: 3.125rem;
}

.path {
  grid-area: path;
  margin-bottom: 2.875rem;
}

.login {
  grid-area: login;
  margin-bottom: 2.875rem;

  p {
    font-family: $textFont;
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
    color: $steelGray;
  }

  a {
    color: $purple;
    font-weight: $font-weight-bold;
  }
}

.sidebar {
  grid-area: sidebar;
}

.products {
  grid-area: cart;
}

.totalPriceInfo {
  grid-area: totalPriceInfo;
  display: flex;
  justify-content: space-between;
  background-color: $whitegrey;
  padding: 2.5rem 5rem;
}

.products {
  width: 100%;
  height: fit-content;
}

.title {
  text-align: center;
  margin: 0 auto;
  padding: 1.875rem 0;
  display: grid;
  grid-template-columns: 3fr 1fr 1.5fr 1fr 1fr 1fr;
  background-color: $dark;
  text-transform: uppercase;

  h5 {
    font-family: $textFont;
    font-size: $font-size-normal;
    font-weight: 600;
    color: $white;
  }
}

.couponField {
  input {
    border: none;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    padding: 0.75rem 2rem;
  }

  button {
    @include button($purple, $white);
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    padding: 0.75rem 2rem;
  }
}

.discount {
  h2 {
    font-family: $textFont;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    color: $dark;
    border-top: 2rem;
  }

  p {
    font-family: $textFont;
    font-size: $font-size-normal;
    font-weight: $font-weight-normal;
    color: $steelGray;
    margin: 0.625rem auto 2.5rem;
  }

  .shoppingBtn {
    @include button($white, $dark);
    font-family: $textFont;
    font-size: $font-size-normal;
    font-weight: $font-weight-normal;
    border-radius: 0.5rem;
    border: solid $steelGray 1px;
    padding: 0.75rem 3rem;
    margin-top: 2.25rem;
  }
}

.totalPrice {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    @include button($purple, $white);
    border-radius: 0.75rem;
    padding: 0.75rem 2rem;
    margin-top: 3rem;
  }
}

.priceInfo {
  padding: 0 5.625rem 3rem;
  border-bottom: 1px solid $steelGray;

  p {
    font-family: $textFont;
    font-size: $font-size-large;
    font-weight: $font-weight-medium;
    color: $dark;
  }

  p:nth-child(2){
    margin: 1rem 0 2.5rem;
  }

  .grandTotal {
    font-weight: $font-weight-bold;
  }
}
