@import "../../style/sass/variables.scss";
@import "../../style/sass/mixin";

.heroSection {
  height: calc(100vh - 6.875rem);
}

.heroContent {
  width: 100%;
  height: 100%;
}

.heroWrapper {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/imagesHome/home-shop-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 9rem;
  row-gap: 2.5rem;
}

.heroSubtitle {
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.title {
  font-size: 4.875rem;
  font-weight: $font-weight-black;
  font-family: $titlesFont;
  color: $white;
}

.description {
  font-size: 2rem;
  font-weight: $font-weight-medium;
  font-family: $textFont;
  color: $white;
}

.btnWrapper{
  width: fit-content;

  :hover{
   box-shadow: 3px 3px 15px rgb(111, 112, 115);
  }

  :active{
    transform: scale(1.1);
    transition-duration: .3s
  }
}

.heroBtn {
  @include button($white, $dark);
  font-family: $textFont;
  font-size: 1.5rem;
  font-weight: $font-weight-black;
  padding: 0.8rem 2.75rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  :hover{
    box-shadow: none;
   }
}

.subHeroSection{
  padding-top: 8.125rem;
  width: 85%;
  margin: 0 auto;
}

.subHeroSectionContent{
  display: flex;
  column-gap: 1.875rem;
  height: auto;
}


.sectionTitle{
  font-size: $font-size-heading;
  font-weight: $font-weight-bold;
  font-family: $titlesFont;
  color: $dark;
  position: relative;
  padding: 0 1.25rem;

  &::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.375rem;
    background: rgba(138, 51, 253, 1);
    border-radius: 0.625rem;

  }
}


.newArrival,
.bigSavingZone,
.categoriesForMen{
  width: $screenWidth;
  margin: 0 auto;
}