@import "../../style/sass/variables.scss";
@import "../../style/sass/mixin";

.heroSection {
  height: calc(100vh - 6.875rem);
}

.heroContent {
  width: 100%;
  height: 100%;
}

.heroWrapper {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/imagesHome/home-shop-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 9rem;
  row-gap: 2.5rem;
}

.heroSubtitle {
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.title {
  font-size: 4.875rem;
  font-weight: $font-weight-black;
  font-family: $titlesFont;
  color: $white;
}

.description {
  font-size: 2rem;
  font-weight: $font-weight-medium;
  font-family: $textFont;
  color: $white;
}

.btnWrapper {
  width: fit-content;

  :hover {
    box-shadow: 3px 3px 15px rgb(111, 112, 115);
  }

  :active {
    transform: scale(1.1);
    transition-duration: 0.3s;
  }
}

.heroBtn {
  @include button($white, $dark);
  font-family: $textFont;
  font-size: 1.5rem;
  font-weight: $font-weight-black;
  padding: 0.8rem 2.75rem;
  border-radius: 8px;
  color: $dark;
  cursor: pointer;

  :hover {
    box-shadow: none;
  }
}

.subHeroSection {
  padding-top: 8.125rem;
  width: 85%;
  margin: 0 auto;
}

.subHeroSectionContent {
  display: flex;
  column-gap: 1.875rem;
  height: auto;
}

.sectionTitle {
 @include sectionTitle($font-size-heading, $font-weight-bold)
}

.newArrival,
.bigSavingZone,
.categoriesForMen,
.categoriesForWomen{
  width: $screenWidth;
  margin: $betweenSectionMargin;
}

.categoriesWrapper {
  display: flex;
  justify-content: space-between;
  margin: $betweenSectionMargin;
}

.brands {
  background-color: $dark;
  border-radius: 0.75rem;
  color: $white;
}

.brandsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 3rem;

  h2 {
    font-size: 3.125rem;
    font-weight: $font-weight-black;
    font-family: $titlesFont;
    text-transform: capitalize;
  }

  p {
    font-size: $font-size-large;
    font-weight: $font-weight-medium;
    font-family: $textFont;
    margin: 1.5rem auto 4rem;

    span {
      color: rgba(251, 209, 3, 1);
    }
  }
}

.brandsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
  width: 80%;
  margin-bottom: 3.75rem;

  .brand {
    background-color: white;
    border-radius: 0.875rem;
    width: 11rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      scale: 1.1;
    }
  }
}
