@import '../sass/variables.scss';
@import '../sass/mixin';

.wrapper{
    display: grid;
    grid-template-areas: "filter category"
    "filter list"
    "filter list";
    grid-template-columns: 1fr 4fr;
    width: $screenWidth;
    margin: 0 auto;
}

.filters {
    grid-area: filter;
}

.category {
  display: flex;
  justify-content: flex-end;
  column-gap: 1.5rem;
  margin: 3rem 0;
  font-family: $textFont;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  grid-area: category;

  label {
    cursor: pointer;
    color: $dark;
  }
}

.productsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(20%, 1fr));
  gap: 2rem;
  grid-area: list;
}

.product {
  position: relative;

  &:hover {
    scale: 1.05;
    transition-duration: 0.3s;
    cursor: pointer;
  }

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 0.75rem;
    margin-bottom: 1rem;
  }

  p {
    font-family: $textFont;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
  }

  .brand {
    font-family: $textFont;
    font-size: 0.7rem;
    font-weight: $font-weight-light;
    color: $steelGray;
  }

  .like {
    font-size: 1rem;
    color: $steelGray;
    cursor: pointer;
  }

  .price {
    font-family: $textFont;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    padding: 0.3rem 0.8rem;
    background-color: $whitegrey;
    border-radius: 0.5rem;
    height: fit-content;
    margin-left: 0.4rem;
  }
}

.productDetails {
  display: flex;
  justify-content: space-between;
}

.buttonContainer {
  position: absolute;
  top: 0.75rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  button {
    border-radius: 50%;
    padding: 0.25rem;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button:active {
    scale: 1.1;
  }

  button:hover {
    background-color: rgba($purple, 0.5);
    color: $white;
  }
}

label.active {
  color: $purple;
}


.sectionTitle{
  @include sectionTitle($font-size-heading, $font-weight-bold);
  margin: 6.5rem 0 2rem;
}

.shopDescr{
  margin-bottom: 6.5rem;
  p{
    font-family: $textFont;
    font-size: $font-size-medium;
    font-weight: $font-weight-normal;
    line-height: 2rem;
    letter-spacing: 2%;
    color: $steelGray;
    text-align: justify;
  }
}

//  --------------------Double Range

.horizontalSlider{
  width: 100%;
  height: 10px;
  position: relative;
  background-color: blue;
  z-index: 1000;
}

.thumb{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #3498db; // Желаемый цвет ползунка
  outline: none;
  border: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.track{
  height: 10px;
  border-radius: 2px;
  background-color: yellow;
}

.track-1{
  height: 10px;
  background-color: red; // Цвет полоски перед ползунками
  border-radius: 2px;
}
