@import '../sass/variables.scss';
@import '../sass/mixin';

.wrapper{
    display: grid;
    grid-template-areas: "filter category"
    "filter list"
    "filter list";
    grid-template-columns: 1fr 4fr;
    width: $screenWidth;
    margin: 0 auto;
}

.filters {
    grid-area: filter;
    width: 80%;
    margin: 0 auto;
}

.category {
  display: flex;
  justify-content: flex-end;
  column-gap: 1.5rem;
  margin: 3rem 0;
  font-family: $textFont;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  grid-area: category;

  label {
    cursor: pointer;
    color: $dark;
  }
}

label.active {
  color: $purple;
}

.sectionTitle{
  @include sectionTitle($font-size-heading, $font-weight-bold);
  margin: 6.5rem 0 2rem;
}

.shopDescr{
  margin-bottom: 6.5rem;
  p{
    font-family: $textFont;
    font-size: $font-size-medium;
    font-weight: $font-weight-normal;
    line-height: 2rem;
    letter-spacing: 2%;
    color: $steelGray;
    text-align: justify;
  }
}

