@import "../sass/variables.scss";
@import "../sass/mixin";

.wrapper {
  display: grid;
  grid-template-areas:
    "path path"
    "sidebar wishList";
  grid-template-columns: 1fr 4fr;
  width: $screenWidth;
  margin: 0 auto;
  column-gap: 3.125rem;
}

.path {
  grid-area: path;
  margin-bottom: 2.875rem;
}

.sidebar {
  grid-area: sidebar;
}

.wishList {
  display: flex;
  flex-direction: column;
  grid-area: wishList;

  h2 {
    font-family: $titlesFont;
    font-size: $font-size-extra-large;
    font-weight: $font-weight-bold;
    color: $dark;
    margin-bottom: 1.25rem;
  }
}

.products {
  padding-bottom: 6.25rem;
}

.product {
  display: grid;
  grid-template-columns: 0fr 0.75fr 3fr 1fr 1fr;
  column-gap: 1rem;
  align-items: center;
  border-bottom: 1px solid rgba(237, 238, 242, 1);
  padding-bottom: 1.875rem;
  padding-top: 1.875rem;

  .delete {
    font-size: 1.375rem;
  }

  img {
    height: 100%;
    width: 100%;
    border-radius: 0.75rem;
  }

  .productDesc {
    font-family: $textFont;
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    color: $dark;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;

    span {
      color: $steelGray;
      font-weight: $font-weight-bold;
    }
  }
}

.price {
  font-family: $textFont;
  font-size: $font-size-normal;
  font-weight: $font-weight-bold;

  span {
    color: $steelGray;
  }
}

.addBtn {
  @include button($purple, $white);
  padding: 0.875rem 1.875rem;
  border-radius: 0.5rem;
  font-family: $textFont;
  font-size: $font-size-medium;
  font-weight: $font-weight-medium;

  &:active {
    scale: 1.1;
  }
}
