@import '../sass/variables.scss';

.wrapper{
    display: flex;
    flex-wrap: wrap;
    width: $screenWidth;
    margin: 0 auto;
}

.path{
    width: 100%;
}

.sidebar{
width: 30%;
}

.wishList{
width:70%;
display: flex;
flex-direction: column;
}

.product{
    display: flex;
    justify-content: space-between;

    img{
        height: 110px;
    }
}