@import '../../../style/sass/mixin';
@import '../../../style/sass/variables.scss';


.genderFilter{
    h4{
      font-family: $textFont;
      font-size: $font-size-large;
      font-weight: $font-weight-bold;
      color: $steelGray;
      margin-bottom: 1.25rem;
      cursor: pointer;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      opacity: 0.8;

      &:hover{
        opacity: 1;
      }
    }


  }

  .filterValues{
    display: flex;
    justify-content: space-evenly;

    label {
      font-family: $titlesFont;
      font-size: $font-size-small;
      font-weight: $font-weight-normal;
      border-radius: 0.25rem;
      background-color: rgba($purple, 1);
      padding: 0.5rem 0;
      width: 40%;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      color: $white;
  
      &:hover{
        background-color: $white;
        transition-duration: 0.25s;
        color: $purple;
        scale: 1.2;
      }
  
      &:active{
        scale: 0.9;
      }
    }
  }

.active {
    color: $purple;
  }
  

  
  
