@import "../../../style/sass/variables.scss";

.wrapper {
  min-height: calc(100vh - 6.875rem);
}

.filters {
}

.category {
  display: flex;
  justify-content: flex-end;
  column-gap: 1.5rem;
  margin: 3rem 0;
  font-family: $textFont;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;

  label {
    cursor: pointer;
    color: $dark;
  }
}

.productsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(20%, 1fr));
  gap: 2rem;
}

.product {
  position: relative;

  &:hover {
    scale: 1.05;
    transition-duration: 0.3s;
    cursor: pointer;
  }

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 0.75rem;
    margin-bottom: 1rem;
  }

  p {
    font-family: $textFont;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
  }

  .brand {
    font-family: $textFont;
    font-size: 0.7rem;
    font-weight: $font-weight-light;
    color: $steelGray;
  }

  .like {
    font-size: 1rem;
    color: $steelGray;
    cursor: pointer;
  }

  .price {
    font-family: $textFont;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    padding: 0.3rem 0.8rem;
    background-color: $whitegrey;
    border-radius: 0.5rem;
    height: fit-content;
    margin-left: 0.4rem;
  }
}

.productDetails {
  display: flex;
  justify-content: space-between;
}

.buttonContainer {
  position: absolute;
  top: 0.75rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  button {
    border-radius: 50%;
    padding: 0.25rem;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button:active {
    scale: 1.1;
  }

  button:hover {
    background-color: rgba($purple, 0.5);
    color: $white;
  }
}

label.active {
  color: $purple;
}
