@import "../../style/sass/variables.scss";

.header {
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $screenWidth;
  margin: 0 auto;
  padding: 2rem 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2.5rem;
  font-family: $textFont;
  font-size: $font-size-large;
  font-weight: $font-weight-medium;
}

.search {
  border: none;
  width: fit-content;
  background-color: $whitegrey;
  height: 2.8rem;
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
  padding-left: 1.25rem;
  border-radius: 0.5rem;
}

.searchInput {
  border: none;
  font-size: $font-size-normal;
  font-family: $textFont;
  font-weight: $font-weight-normal;
  background-color: transparent;
  height: 100%;
}

.searchInput::placeholder{
  font-family: $textFont;
  font-weight: $font-weight-normal;
}

.searchIcon {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  cursor: pointer;
}

.icons {
  display: flex;
  column-gap: 0.75rem;
  cursor: pointer;

  :hover{
    box-shadow: 1px 1px 10px grey;
  }

  :active{
    scale: 1.2;
  }
}

.favorite,
.user,
.cart {
  width: 2.813rem;
  height: 2.813rem;
  background-color: $whitegrey;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;

  :hover{
    box-shadow: none;
  }
}


