@import '../../style/sass/variables.scss';

.card {
  width: 23%;

  &:hover{
    scale: 1.1;
    transition-duration: 0.2s;
  }
}

.image {
  img {
    border-radius: 0.75rem;
    width: 100%;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h4{
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    font-family: $textFont;
    line-height: 1.75rem;
  }

  p{
    font-size: 0.875rem;
    font-weight: $font-weight-medium;
    font-family: $textFont;
    text-transform: capitalize;
    line-height: 1.75rem;
    color: $steelGray;
  }

  button{
    color: $steelGray;
    font-size: 1.75rem;

    &:hover{
color: black;
transition-duration: 0.2s;
    }
  }
}
