@import "../../style/sass/variables.scss";

.footer {
  background-color: $dark;
  padding-top: 3.75rem;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}

.quickLinks {
  display: flex;
  justify-content: space-around;
}

.socialLinks {
  display: flex;
  justify-content: space-around;
  align-items: end;
}

.listGroupSocial {
  display: flex;
  column-gap: 0.625rem;

  img {
    border-radius: 0.8rem;
  }

  .icons:hover{
    scale: 1.1;
  }
}

.listGroupNetwork {
  display: flex;
  column-gap: 4rem;

  a {
    display: flex;
    column-gap: 0.8rem;
  }

  h6,
  h4 {
    font-family: $textFont;
    color: $whitegrey;
    font-weight: $font-weight-normal;
  }

  .icons:hover{
    scale: 1.1;
  }
}

.title {
  font-family: $textFont;
  font-size: $font-size-extra-large;
  font-weight: $font-weight-bold;
  color: $whitegrey;
  margin-bottom: 2rem;
}

.listGroupItem,
.text {
  font-family: $textFont;
  font-size: $font-size-normal;
  font-weight: $font-weight-medium;
  color: $whitegrey;
  margin-bottom: 1rem;

  :hover{
    color: rgb(142, 131, 131);
  }
}

.network {
  display: flex;
  flex-direction: column;
}

.copyright {
  text-align: center;

  .copyrightText {
    font-family: $textFont;
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    color: $whitegrey;
    padding: 4rem 0 1rem 0;
  }
}
