@import '../../../style/sass/mixin';

.page404 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: fit-content;
  margin: 3.875rem auto 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.875rem 5rem;

  h2{
    text-align: center;
    font-family: $titlesFont;
    font-size: $font-size-heading;
    font-weight: $font-weight-bold;
    color: $dark;
  }

  p{
    text-align: center;
    font-family: $textFont;
    font-size: $font-size-normal;
    font-weight: $font-weight-medium;
    color: $steelGray;
  }

  button{
    @include button($purple, $white);
    padding: 0.875rem 2rem;
    border-radius: 0.5rem;
    font-family: $textFont;
    font-size: $font-size-medium;
    font-weight: $font-weight-medium;
    margin-top: 2.5rem;
  }
}

.image {
  width: 10.5rem;
  height: 10.5rem;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(240, 249, 244, 1);

  svg{
    font-size: 6rem;
    color: rgba(40, 166, 66, 1);
  }
}
