@import "../../../style/sass/variables.scss";

.carouselItem {
  padding: 0 20px;
  position: relative;

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 0.75rem;
    margin-bottom: 2rem;
  }

  p {
    font-family: $textFont;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
  }

  .brand {
    font-family: $textFont;
    font-size: 0.7rem;
    font-weight: $font-weight-light;
    color: $steelGray;
  }

  .like {
    position: absolute;
    top: 0.75rem;
    right: 2rem;
    font-size: 1.875rem;
    color: $steelGray;
    cursor: pointer;

    svg {
      border-radius: 50%;
      padding: 0.25rem;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:active {
      scale: 1.1;
    }

    svg:hover {
      background-color:rgba($purple, 0.5);
      color: $white;
    }
  }

  .price {
    font-family: $textFont;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    padding: 0.3rem 0.8rem;
    background-color: $whitegrey;
    border-radius: 0.5rem;
    height: fit-content;
    margin-left: 0.4rem;
  }
}

.slider {
  width: 95%;
  margin: $betweenSectionMargin;
  outline: none;
}

.infoWrapper {
  display: flex;
  justify-content: space-between;
}
